#main{
    color: darkred;
    font-size: 40px;
    text-align: center;
}
.text{
    color: cornflowerblue;
    font-size: 20px;
    text-align: justify;
    margin: 10px;
    border-left: coral solid 2px;
    box-sizing: border-box;
    padding-left: 20px;
}
h2{
    text-align: center;
        }
#photo{
    text-align: center;
}